<div class="body my-0" >
  <main style="width: 600px;" class="my-0">
    <img class="rounded mx-auto d-block my-0" src="../../../assets/images/404.png" width="300" height="280" alt="404 image">
    <p>I'm afraid you've found a page that doesn't exist on GBCL. That can happen when you follow a link to something that has since been deleted. Or the link was incorrect to begin&nbsp;with.</p>
    <p>Sorry about that. Review spelling and case of letters in URL you are reaching.</p>
    <br>

    <a class="btn btn-warning btn-lg w-100" (click)="goBack()">Go Back</a>

  </main>
</div>
