<div class="row">
  <div class="col-3 mr-1 WINDOW_BORDERS">
    <h3 style="text-align: center;">Annotations list</h3>


    <table>
      <tr>
        <th>open</th>
      </tr>
      <tr><td><button class="btn btn-info btn-sm" (click)="cancelSelected()">Cancel Selected</button></td></tr>
      <tr><td><button class="btn btn-info btn-sm" (click)="clearAnnotations();">anno.clearAnnotations();</button></td></tr>

      <ng-container *ngIf="LIST != null">
        <tr *ngFor="let item of LIST">
          <td><button class="btn btn-info btn-sm" (click)="openAnnotation(item)">view</button></td>
        </tr>
      </ng-container>
    </table>

  </div>

  <div class="col min-vh-80 WINDOW_BORDERS">
    <h3>Canvas</h3>
    <div>
      <button class="btn btn-primary btn-sm mr-1" (click)="setTool('circle')">
        Circle
      </button>
      <button class="btn btn-primary btn-sm mr-1" (click)="setTool('freehand')">
        Freehand
      </button>
      <button class="btn btn-primary btn-sm mr-1" (click)="setTool('ellipse')">
        Elipse
      </button>
      <button class="btn btn-primary btn-sm mr-2" (click)="setTool('rect')">
        Rectangle
      </button>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////                                        ////////////////// -->
    <!-- /////////////////////         the canvas code below          ////////////////// -->
    <!-- /////////////////////                                        ////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////////////// -->
    <div class="column">
      <div class="main-content">
        <div class="inline-demo">
          <div id="toolbar"></div>
          <div id="openseadragon"></div>
          <style>
            #toolbar {
              margin-bottom: 10px;
            }

            .openseadragon-canvas {
              outline: none;
              background-color: #e60e0e !important;
              border-radius: 3px;
            }

            #openseadragon {
              max-width: 940px;
              height: 600px;
              width: 100%;
            }

            @media only screen and (max-width: 800px) {
              .r6o-editor {
                width: 260px !important;
              }
            }
          </style>
        </div>
      </div>
    </div>

    <!-- /////////////////////////////////////////////////////////////////////////////// -->
    <!-- /////////////////////                                        ////////////////// -->
    <!-- /////////////////////         the canvas code above          ////////////////// -->
    <!-- /////////////////////                                        ////////////////// -->
    <!-- /////////////////////////////////////////////////////////////////////////////// -->
  </div>
</div>
