/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
}
.row {
  margin: 0 !important;
}
body{
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
  font: 110%/1.5 system-ui, sans-serif;

  /* font-family: "Roboto", sans-serif; */
  font-family: "Roboto", sans-serif;

  background: #eaf4f4;
   /* fallback for old browsers */
  background-image: -webkit-linear-gradient(to right, #eaf4f4, #f6fff8);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to right, #eaf4f4, #f6fff8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-image: linear-gradient(to right, #eaf4f4, #f6fff8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-color: #f8961e; */
}
/* .bg-gradient-index{background-image: linear-gradient(to left bottom, #164080, #004d86, #005888, #006388, #0e6d87); }*/


.WINDOW_BORDERS {
  padding: 20px;
  margin: 0px 0.5px 0.5px 0.5px;
  border: 2px solid #63681d;
  border-radius: 3px;
}

.form-group.required-star label::after{
  content:"*";
  color: maroon;
}




.fa-errorIcon {
	float: right;
	margin-right: 9px;
	margin-top: -25px;
	position: relative;
	z-index: 2;
	color: #be4b49;
	font-size: 1.5em;
}
